@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<div class="jumbotron well">
    <h2>Greetings in Advertisement Manage System!
    </h2>
    <p>
        You can easy manage your advertisement constructions with our system. Take a try with <a href="@Url.Action("Index", "Advertisement")"" class="link" type="button">Advertisement Manage System</a> demo.
    </p>
</div>

